$bordWidth:830px;
$bordSize:15;
.andyGomoku{
	&__title{
		font-size: 22px;
		margin:auto;
		padding:20px;
	}
}
.resetWrap{
	text-align: center;
	margin:30px;
	&__button{

	}
}
.winner{
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	width: $bordWidth;
	height: $bordWidth;
	background-color: rgba(255, 255, 255, 0.424);
	line-height: $bordWidth;
	color:#000;
	font-size: 70px;
	text-align: center;
	z-index: 9;
}
.bordWrapper{
	position: relative;
	margin:auto;
	width: $bordWidth;
	height: $bordWidth;
}
.bord {
	margin:auto;
	width: $bordWidth;
	height: $bordWidth;
	background-color: burlywood;
	border: 2px solid rgb(102, 74, 38);
	box-shadow: dimgrey 3px 3px 3px;
	&__cell {
		width: ($bordWidth/$bordSize);
		height: ($bordWidth/$bordSize);
		display: block;
		// background-color: #fff;
		// border: 1px #000 solid;
		float: left;
		font-size: 30px;
		text-align: center;
		line-height: 50px;
		position: relative;
		&::before{
			content:'';
			position: absolute;
			width:($bordWidth/$bordSize);
			height:2px;
			display: block;
			background-color: #000;
			top:0;left:0;right:0;bottom:0;
			margin: auto;
			z-index: 0;
		}
		&::after{
			content:'';
			position: absolute;
			width:2px;
			height:($bordWidth/$bordSize);
			display: block;
			background-color: #000;
			top:0;left:0;right:0;bottom:0;
			margin: auto;
		}
	}

	&__stone {
		position: absolute;
		z-index: 1;
		border-radius: 50%;
		display:block;
		width: ($bordWidth/$bordSize);
		height: ($bordWidth/$bordSize);
		box-shadow: dimgrey 3px 3px 3px;
		&--white {
			background-color: white;
		}

		&--black {
			background-color: #000;
		}
	}
}
