@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$headerHeight:70px;
$sideberWidth:200px;
app-root{
    position: relative;
}
.iidesign{
    &-header{
        padding:0px;
        margin:0px;
        height:$headerHeight;
        position: relative;
    }
    &-sideber{
        position:absolute;
        top:$headerHeight;
        left:0px;
        width:$sideberWidth;
        background-color: #eeeeee;
        height:100%;
    }
    &-content{
        padding-left:$sideberWidth;
    }
}