<h2 class="headline--main1">iidesign.website<span class="headline--main1__sub">アイアイデザインドットウェブサイトとは</span></h2>
<p class="section__p">各種システム開発を行なっています。Javascriptを得意としていますのでWeb開発はもちろん、Windows,Macアプリケーション作成、業務効率化など
  </p>
  <p class="section__p">また、Pythonでの機械学習、AI（自然言語処理）関連技術も得意としています。</p>
<section class="section opa0">
	<h3 class="headline--main1">Profile<span class="headline--main1__sub">プロフィール</span></h3>
  <p class="section__p">ソフトウエアアーキテクト</p>
  <p class="section__p">ブログ</p>
</section>
<section class="section opa0">
	<h3 class="headline--main1">Works<span class="headline--main1__sub"></span></h3>
	<p class="section__p">iidesign.websiteの紹介</p>
	<section class="section__subsection">
		<h4 class="section__subsection__headline">各種システム開発</h4>
		<p class="section__p">連珠</p>
    <p class="section__p">チャット</p>
	</section>
</section>
