$small:  "only screen and (max-width:640px)";
$middle: "only screen and (min-width:700px)";
//$middle: "only screen and (min-width:641px) and (max-width:959px)";
$large:  "only screen and (min-width:960px)";